.root {
    -fx-background-color: #ffffff;
    -fx-text-fill: #0f172a;

    -fx-accent: #2563eb;
    -fx-focus-color: -fx-accent;
}

/* labels */
.label {
    -fx-text-fill: #0f172a;
}

/* inputs */
.text-field,
.password-field {
    -fx-background-color: #ffffff;
    -fx-border-color: #c7d2fe;
    -fx-text-fill: #0f172a;
}

/* primary */
.primary-btn {
    -fx-background-color: #2563eb;
    -fx-text-fill: white;
}

/* secondary */
.secondary-btn {
    -fx-text-fill: #2563eb;
}
