/* ===== ROOT ===== */
.login-root {
    -fx-background-radius: 12;
}

/* ===== TITLE ===== */
.login-title {
    -fx-font-size: 22px;
    -fx-font-weight: bold;
    -fx-padding: 0 0 18 0;
}

/* ===== LABELS ===== */
.label {
    -fx-font-size: 13px;
}

/* ===== INPUTS ===== */
.text-field,
.password-field {
    -fx-pref-width: 220px;
    -fx-pref-height: 36px;

    -fx-background-radius: 10;
    -fx-border-radius: 10;

    -fx-padding: 0 12 0 12;
    -fx-font-size: 13px;
}

/* ===== BUTTONS ===== */
.primary-btn {
    -fx-background-radius: 18;
    -fx-pref-height: 40;
    -fx-pref-width: 110;

    -fx-font-size: 14px;
    -fx-font-weight: bold;

    -fx-cursor: hand;
}

.secondary-btn {
    -fx-background-color: transparent;
    -fx-border-color: -fx-accent;
    -fx-border-width: 1;
    -fx-border-radius: 18;

    -fx-pref-height: 40;
    -fx-pref-width: 120;

    -fx-font-size: 13px;
    -fx-cursor: hand;
}

/* ===== ERROR ===== */
.error-label {
    -fx-font-size: 12px;
    -fx-padding: 6 0 0 0;
}